.line{
    width: 450px;
    height: 5px;
    background-color: aquamarine;
}
p{
    max-width: 425px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
}
img{
    height: 250px;
    width: 300px;
    border: 3px groove aquamarine;
    border-radius: 10px;
    margin-top: 100px;
}
h1{
  font-family: 'Work Sans', sans-serif;  
color: orangered;
    font-size: 36px;
}
h3{
    font-family: 'Bodoni Moda', serif;
    color: orangered;
    font-size: 22px;
}
#bio{
    padding-top: 600px;
}
#welcome{
    background: linear-gradient(#f79d00 , #64f38c);
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.menu{
    top: 15px;
    right: 30px;
    z-index: 99;
    list-style: none;
    position: fixed;
}
.l{
    float:left;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: fantasy;
}
.l:hover{
    cursor: pointer;
    background-color: blue;
    color: coral;
    text-decoration: overline;
    text-decoration-color: antiquewhite;
}